@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/opensans.woff"), url("../fonts/opensans.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/opensansbold.woff"), url("../fonts/opensansbold.woff2");
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "OpenSansRegular", "Arial", sans-serif;
  font-size: 15px;
  min-width: 320px;
  color: @color-text;
  margin: 0;
}

svg:not(.video__play-icon) path {
  fill: inherit;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
