@color-white: #ffffff;
@color-black: #000000;
@color-main: #63d1bb;
@color-main-darken: #56c3b2;
@color-btn-main: #444444;
@color-text: #444444;
@color-border: #ececec;
@color-border-modal: #c6c6c6;
@color-bg-secondary: #f1f1f1;
@tablet-width: 768px;
@desktop-width: 1250px;
