.about-us {
  padding: 34px 30px 31px;
  width: 320px;
  margin: 0 auto;
}

.about-us__title {
  font-family: "OpenSansBold", sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: @color-black;
  margin-top: 0;
  margin-bottom: 30px;
}

.about-us__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us__item {
  font-family: "OpenSansBold", sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: @color-black;
  padding-top: 56px;
  padding-bottom: 30px;
  position: relative;
}

.about-us__item--flower::before {
  content: url("../img/icon-feature-flower.svg");
  position: absolute;
  top: 0;
  left: 0;
}

.about-us__item--money::before {
  content: url("../img/icon-feature-money.svg");
  position: absolute;
  top: 0;
  left: 0;
}

.about-us__item--heart::before {
  content: url("../img/icon-feature-heart.svg");
  position: absolute;
  top: 0;
  left: 0;
}

.about-us__item--ball::before {
  content: url("../img/icon-feature-ball.svg");
  position: absolute;
  top: 0;
  left: 0;
}

.about-us__item--rocket::before {
  content: url("../img/icon-feature-rocket.svg");
  position: absolute;
  top: 0;
  left: 0;
}

.about-us__item--gift::before {
  content: url("../img/icon-feature-gift.svg");
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: @tablet-width) {
  .about-us {
    width: 768px;
    padding: 34px 50px 31px;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about-us__item {
    width: 50%;
    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: @desktop-width) {
  .about-us {
    width: 1250px;
    padding: 34px 0 31px 275px;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }
}
