.catalog {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__item {
  margin-top: 27px;
  border: 1px solid @color-border;
}

.catalog__link {
  text-decoration: none;
}

.catalog__img {
  width: 260px;
  height: 195px;
}

.catalog__title {
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: @color-black;
  margin: 0;
  transition: @transition;
}

.catalog__info {
  padding: 22px 27px 30px 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: @transition;
}

.catalog__order {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  border-top: 1px solid @color-border;
}

.catalog__text {
  font-size: 13px;
  margin-top: 11px;
  padding-bottom: 27px;
  margin-bottom: 0;
}

.catalog__price {
  font-family: "OpenSansBold", "Arial", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.catalog__cart-icon {
  fill: #d3d2d2;
  transition: @transition;
}

@media (min-width: @tablet-width) {
  .catalog {
    width: @tablet-width;
    padding: 18px 50px 0;
  }

  .catalog__item {
    display: flex;
    margin-top: 50px;
  }

  .catalog__img {
    width: 333px;
    height: 334px;
  }

  .catalog__info {
    padding: 22px 31px 34px 28px;
  }

  .catalog__title {
    font-size: 20px;
  }

  .catalog__text {
    font-size: 15px;
    line-height: 30px;
  }

  .catalog__price {
    font-size: 17px;
    line-height: 24px;
  }

  .catalog__link,
  .catalog__info {
    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: @desktop-width;
    padding: 63px 50px 0;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    display: block;
    width: 317px;
  }

  .catalog__info {
    padding: 20px 31px 25px 26px;
    min-height: 190px;
  }

  .catalog__img {
    width: 316px;
    height: 462px;
  }

  .catalog__text {
    margin-top: 6px;
    padding-bottom: 14px;
  }

  .catalog__link,
  .catalog__info {
    width: 100%;
  }
}
