.categories__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories__item {
  background-color: @color-main;
}

.categories__item--darken {
  background-color: @color-main-darken;
}

.categories__link {
  font-family: "OpenSansBold", sans-serif;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  color: @color-white;
  padding: 30px 0;
  display: block;
}

.categories__link--interior {
  background: url("../img/icon-interior.svg") no-repeat right;
}

.categories__link--toy {
  background: url("../img/icon-toy.svg") no-repeat right;
}
