.categories__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories__item {
  background-color: @color-main;
  transition: @transition;
}

.categories__item--toy {
  background-color: @color-main-darken;
}

.categories__link {
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  color: @color-white;
  padding: 25px 30px 30px;
  display: block;
  transition: @transition;
}

.categories__link--interior {
  background: url("../img/icon-interior.svg") no-repeat right;
}

.categories__link--toy {
  background: url("../img/icon-toy.svg") no-repeat right;
}

@media (min-width: @tablet-width) {
  .categories__list {
    display: flex;
    padding: 0 50px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 815px;
      display: flex;
      width: 100%;
      height: 15px;
      background-image: url(../img/bg-zigzag-fill.svg);
      background-repeat: repeat-x;
      background-position: -5px top;
      background-size: auto 23px;
      z-index: 2;
    }
  }

  .categories__item {
    width: 50%;
  }

  .categories__link {
    font-size: 20px;
    line-height: 30px;
    padding: 28px 37px 28px 36px;
  }
}

@media (min-width: @desktop-width) {
  .categories__list {
    width: @desktop-width;
  }
}
