.categories__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories__item {
  background-color: @color-main;
  transition: @transition;
  position: relative;
}

.categories__item--toy {
  background-color: @color-main-darken;
}

.categories__link {
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  color: @color-white;
  padding: 25px 30px 30px;
  display: block;
  transition: @transition;
}

.categories__interior-icon {
  position: absolute;
  right: 37px;
  bottom: 19px;
  fill: #3bb09d;
  transition: @transition;
}

.categories__toy-icon {
  position: absolute;
  right: 27px;
  bottom: 23px;
  fill: #35a999;
  transition: @transition;
}

@media (min-width: @tablet-width) {
  .categories__list {
    display: flex;
    padding: 0 50px;
    }

  .categories__item {
    width: 50%;
  }

  .categories__link {
    font-size: 20px;
    line-height: 30px;
    padding: 28px 37px 36px 36px;
  }

  .categories__interior-icon {
    right: 36px;
    bottom: 31px;
  }

  .categories__toy-icon {
    right: 34px;
    bottom: 32px;
  }
}

@media (min-width: @desktop-width) {
  .categories__list {
    width: @desktop-width;
  }
}
