.contacts {
  padding-top: 44px;
  padding-bottom: 39px;
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .btn-main {
    display: block;
    margin: 0 auto;
    width: 260px;
  }
}

.contacts__title {
  font-family: "OpenSansBold", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: @color-black;
  margin: 0;
  padding: 0 30px;
}

.contacts__list {
  margin-top: 40px;
  margin-bottom: 0;
  padding: 0 30px;
  list-style: none;
}

.contacts__item {
  margin-bottom: 40px;
}

.contacts__text {
  line-height: 30px;
}

.contacts__link {
  text-decoration: none;
  color: @color-text;
  line-height: 30px;
  border-bottom: 1px solid @color-main;
  padding-bottom: 3px;
}

.contacts__map {
  background: url("../img/map-mobile@1x.jpg");
  height: 457px;
  width: 100%;
  margin-top: 42px;
  margin-bottom: 39px;
}

@media (min-width: @tablet-width) {
  .contacts {
    width: @tablet-width;
    display: flex;
    flex-wrap: wrap;
    padding: 46px 0 57px 0;
  }

  .contacts__list {
    display: flex;
    padding: 0 50px;
  }

  .contacts__item {
    width: 50%;
    margin-bottom: 0;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    width: 100%;
    padding: 15px 0 15px 50px;
    margin-right: 50px;
  }

  .contacts__title--flag {
    background: url("../../img/icon-flag.svg") no-repeat right;
  }

  .contacts__map {
    margin-top: 60px;
    margin-bottom: 55px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: @desktop-width;
    padding: 70px 50px 105px;
    flex-direction: row;

    .btn-main {
      margin: -53px 0 0 175px;
    }
  }

  .contacts__wrapper {
    //padding-left: 175px;
    width: 50%;
  }

  .contacts__map {
    width: 50%;
    margin: 0;
  }

  .contacts__list {
    flex-direction: column;
    padding-left: 175px;
  }

  .contacts__item {
    width: 100%;
    margin-bottom: 40px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    padding-left: 175px;
  }

  .contacts__title--flag {
    background-position: 62px;
  }
}
