.contacts {
  padding-top: 44px;
  padding-bottom: 39px;
  width: 320px;
  margin: 0 auto;

  .btn-main {
    display: block;
    margin: 0 auto;
    width: 260px;
  }
}

.contacts__title {
  font-family: "OpenSansBold", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: @color-black;
  margin: 0;
  padding: 0 30px;
}

.contacts__list {
  margin-top: 42px;
  margin-bottom: 0;
  padding: 0 30px;
  list-style: none;
}

.contacts__item {
  margin-bottom: 40px;
}

.contacts__text {
  line-height: 30px;
}

.contacts__link {
  text-decoration: none;
  color: @color-text;
  line-height: 30px;
  border-bottom: 1px solid @color-main;
  padding-bottom: 3px;
}

.contacts__map {
  background: url("../img/map-mobile@1x.jpg") no-repeat;
  height: 457px;
  width: 100%;
  margin-top: 42px;
  margin-bottom: 39px;
}

@media (min-width: @tablet-width) {
  .contacts {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__list {
    display: flex;
  }

  .contacts__item {
    width: 50%;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 1250px;
    padding: 0 100px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }
}
