.menu-mobile {
  display: none;
  position: absolute;
  width: 100%;
  background-color: @color-white;
}

.menu-mobile__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-mobile__item {
  padding: 30px;
  border-top: 1px solid @color-border;
}

.menu-mobile__link {
  font-family: "OpenSansBold", sans-serif;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: @color-black;
  padding-left: 46px;
}

.menu-mobile__btn {
  display: block;
  background-image: url("../img/icon-menu-open.svg");
  width: 20px;
  height: 14px;
  background-color: transparent;
  border: none;
}

.menu-mobile__close {
  display: none;
  background-image: url("../img/icon-menu-close.svg");
  width: 21px;
  height: 20px;
  background-color: transparent;
  border: none;
}

.menu-mobile__link--search {
  background: url("../img/icon-search.svg") no-repeat left;
}

.menu-mobile__link--cart {
  background: url("../img/icon-cart.svg") no-repeat left;
}

@media (min-width: @tablet-width) {
  .menu-mobile__btn,
  .menu-mobile__close {
    display: none;
  }
}
