.nav-main {
  background-color: @color-white;
  min-height: 80px;
  border-bottom: 1px solid @color-border;
}

.nav-main__wrapper {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  position: relative;
}

.nav-main__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

.nav-main__item {
  font-family: "OpenSansBold", sans-serif;
  font-size: 17px;
  line-height: 24px;
  padding: 30px;
  border-top: 1px solid @color-border;
  position: relative;
}

.nav-main__link {
  text-decoration: none;
  color: @color-black;
  padding-left: 46px;
}

.nav-main__item--logo {
  display: none;
}

.nav-main__item--new {
  display: none;
}

.nav-main__item--sale {
  display: none;
}

.nav-main__item--delivery {
  display: none;
}

.nav-main__search-icon,
.nav-main__cart-icon {
  position: absolute;
  left: 30px;
  top: 34px;
}

.nav-main__btn {
  position: absolute;
  right: 30px;
}

.nav-main__btn--open {
  display: block;
  background-image: url("../img/icon-menu-open.svg");
  width: 20px;
  height: 14px;
  background-color: transparent;
  border: none;
}

.nav-main__btn--close {
  display: none;
  background-image: url("../img/icon-menu-close.svg");
  width: 21px;
  height: 20px;
  background-color: transparent;
  border: none;
}

@media (min-width: @tablet-width) {
  .nav-main {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: none;
  }

  .nav-main__wrapper {
    height: 88px;
    padding: 0 50px;
    display: none;
  }

  .nav-main__btn {
    display: none;
  }

  .nav-main__list {
    display: flex;
    flex-wrap: wrap;
  }

  .nav-main__item {
    border: none;
    height: 88px;
    padding: 30px 50px;
    //border-bottom: 1px solid @color-border;
  }

  .nav-main__link {
    padding-left: 0;
  }

  .nav-main__item--logo {
    display: block;
    order: 1;
    //width: 50%;
  }

  .nav-main__item--catalog {
    order: 4;
    padding-right: 36px;
    font-size: 15px;
    padding-top: 18px;
  }

  .nav-main__item--order {
    order: 5;
    padding-left: 0;
    font-size: 15px;
    padding-top: 18px;
  }

  .nav-main__item--search {
    order: 2;
    margin-left: auto;
    padding: 30px 41px;
    font-size: 0;
    border-left: 1px solid @color-border;
    border-right: 1px solid @color-border;
  }

  .nav-main__item--cart {
    order: 3;
    min-width: 312px;
    text-align: right;
  }

  .nav-main__item--delivery {
    display: block;
    order: 6;
    margin-left: auto;
    font-family: "OpenSansRegular", sans-serif;
    font-size: 15px;
    line-height: 24px;
    padding-left: 0;
    padding-top: 18px;
  }
}

@media (min-width: @desktop-width) {
  .nav-main__item--catalog {
    order: -2;
    padding-right: 36px;
    padding-top: 30px;
    font-size: 17px;
  }

  .nav-main__item--order {
    order: -1;
    padding-left: 36px;
    padding-top: 30px;
    font-size: 17px;
  }

  .nav-main__item--logo {
    order: 1;
    width: auto;
  }

  .nav-main__item--new {
    display: block;
    order: 4;
    font-size: 15px;
    padding-top: 18px;
  }

  .nav-main__item--sale {
    display: block;
    order: 5;
    padding-left: 12px;
    font-size: 15px;
    padding-top: 18px;
  }
}
