.order {
  padding: 29px 30px 55px;
  width: 320px;
  margin: 0 auto;
}

.order__text {
  font-size: 13px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 30px;
}

.order__text--small {
  font-size: 14px;
  line-height: 16px;
}

.order__wrapper {
  margin: 0;
  padding: 30px 0;
  border-top: 1px solid @color-main;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.order__title {
  font-family: "OpenSansBold", sans-serif;
  font-size: 17px;
  line-height: 16px;
  color: @color-main;
  text-transform: uppercase;
}

.order__label {
  font-family: "OpenSansBold", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: @color-black;
  display: block;
}

.order__input,
.order__textarea {
  width: 100%;
}

.order__radio,
.order__checkbox {
  display: none;
}

@media (min-width: @tablet-width) {
  .order {
    width: @tablet-width;
    padding: 29px 50px 55px;
  }

  .order__wrapper {
    padding: 30px 0 30px 167px;
    position: relative;
    border-top: none;
  }

  .order__title {
    position: absolute;
    left: 0;
  }

  .order__label {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .order {
    width: @desktop-width;
  }

  .order__text {
    padding-left: 175px;
  }

  .order__wrapper {
    padding: 30px 0 30px 175px;
  }

  .order__title {
    left: 62px;
  }
}
