.reviews {
  padding-top: 30px;
  padding-bottom: 44px;
}

.reviews__title {
  font-family: "OpenSansBold", sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: @color-black;
  margin: 0;
}

.reviews__item {
  margin: 40px 0;
}

.reviews__text {
  margin: 0;
  line-height: 30px;
}

.reviews__author {
  display: block;
  margin-top: 40px;
  margin-bottom: 17px;
}

.reviews__prev {
  display: block;
  background-image: url("../../img/icon-left-arrow.svg");
  background-color: transparent;
  border: 1px solid @color-border;
  width: 51px;
  height: 26px;
}

.reviews__next {
  display: block;
  background-image: url("../../img/icon-right-arrow.svg");
  background-color: transparent;
  border: 1px solid @color-border;
  width: 51px;
  height: 26px;
}

