.slider {
  margin: 0;
  display: flex;
  flex-direction: column;

  .btn-main {
    order: 1;
  }
}

@media (min-width: @tablet-width) {
  .slider {
    flex-direction: row;
    flex-wrap: wrap;

    .btn-main {
      order: 0;
      width: 25%;
    }
  }

}

@media (min-width: @desktop-width) {
  .slider {
    padding-left: 175px;
  }
}
