.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  margin-left: 8px;
  margin-top: 1px;
}

.social-list__link {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 0;
}

.social-list__instagram-icon {
  transition: @transition;
  margin-top: 7px;
}

.social-list__facebook-icon {
  transition: @transition;
  margin-left: 4px;
  margin-top: 2px;
}

.social-list__twitter-icon {
  transition: @transition;
  margin-top: 6px;
}

@media (min-width: @tablet-width) {
  .social-list {
    padding: 0;
    width: 148px;
    margin-left: 84px;
    border-bottom: none;
  }
}
