.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  margin-left: 10px;
  margin-top: 5px;
}

.social-list__link {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.social-list__instagram-icon,
.social-list__facebook-icon,
.social-list__twitter-icon {
  transition: @transition;
}

@media (min-width: @tablet-width) {
  .social-list {
    padding: 0;
    width: 148px;
    margin-left: 87px;
    border-bottom: none;
  }
}
