.video {
  width: 320px;
  margin: 0 auto;
  padding: 30px 30px 58px;
}

.video__item {
  display: flex;
  flex-direction: column;
  border: 1px solid @color-border;
}

.video__title {
  font-family: "OpenSansBold", sans-serif;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding: 17px 0 25px 89px;
  position: relative;
}

.video__window {
  width: 260px;
  height: 150px;
  background: url("../img/video-mobile@1x.jpg") no-repeat;
  background-size: 260px auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

.video__info {
  padding: 27px 36px 30px 33px;
  display: flex;
  flex-direction: column;
}

.video__text {
  font-size: 13px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 25px;
}

.video__title--camera {
  background: url("../img/icon-video.svg") no-repeat 33px 24px;
}

//.video__window--play {
//  background: url("../img/icon-play.svg") no-repeat center;
//}

@media (min-width: @tablet-width) {
  .video {
    width: @tablet-width;
    padding: 43px 50px 79px;
  }

  .video__window {
    width: 668px;
    height: 455px;
    order: 1;
    background: url("../img/video-tablet@1x.jpg") no-repeat;
    background-size: 668px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  .video__title {
    order: 2;
    font-size: 20px;
    padding: 37px 0 25px 105px;
  }

  .video__title--camera {
    background-position: 41px 34px;
  }

  .video__info {
    order: 3;
    padding: 8px 41px 30px 39px;
  }

  .video__text {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 36px;
  }
}

@media (min-width: @desktop-width) {
  .video {
    width: @desktop-width;
    padding: 57px 50px 105px;
    position: relative;
  }

  .video__item {
    padding-left: 50px;
    margin-left: 632px;
    transition: @transition;
  }

  .video__title {
    width: 185px;
    padding-top: 95px;
    padding-left: 62px;
    padding-bottom: 34px;
  }

  .video__info {
    width: 336px;
    padding-bottom: 59px;
    padding-left: 63px;
    padding-top: 0;
  }

  .video__text {
    margin-bottom: 46px;
  }

  .video__window {
    width: 682px;
    height: 455px;
    background: url("../img/video-desktop@1x.jpg") no-repeat;
    background-size: 682px;
    position: absolute;
    left: 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }

  .video__title--camera {
    background-position: 64px 41px;
  }
}
