.video {
  width: 320px;
  margin: 0 auto;
  padding: 30px 30px 58px;
}

.video__item {
  display: flex;
  flex-direction: column;
  border: 1px solid @color-border;
}

.video__title {
  font-family: "OpenSansBold", sans-serif;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding: 30px 0 30px 62px;
  position: relative;
}

.video__window {
  width: 260px;
  height: 150px;
}

.video__info {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.video__text {
  font-size: 13px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 28px;
}

.video__title--camera {
  background: url("../img/icon-video.svg") no-repeat left;
}

.video__window--play {
  background: url("../img/icon-play.svg") no-repeat center;
}

@media (min-width: @tablet-width) {
  .video {
    width: @tablet-width;
    padding: 53px 50px 63px;
  }

  .video__window {
    width: 668px;
    height: 455px;
    order: 1;
  }

  .video__title {
    order: 2;
    font-size: 20px;
  }

  .video__info {
    order: 3;
  }

  .video__text {
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .video {
    width: @desktop-width;
    padding: 57px 50px 105px;
  }

  .video__item {
    height: 455px;
    flex-wrap: wrap;
  }

  .video__title {
    width: 185px;
    padding-top: 95px;
    padding-left: 78px;
  }

  .video__info {
    width: 350px;
    padding-bottom: 59px;
    padding-left: 78px;
    padding-top: 0;
  }

  .video__window {
    width: 682px;
    height: 455px;
  }
}
